Agente_SDR_-_Inova_Coruja.json
{
  "name": "Agente SDR - Inova Coruja",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um SDR. Qualifique o interesse do lead na mensagem abaixo e retorne apenas \"Quente\", \"Morno\" ou \"Frio\".\nMensagem: {{ $json.body.mensagem }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        0
      ],
      "id": "de6a6e0f-fe65-417c-8017-37d5ce90c3ba",
      "name": "Texto",
      "credentials": {
        "openAiApi": {
          "id": "scB4ImDKzaC0pJI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um SDR. Qualifique o interesse do lead na mensagem abaixo e retorne apenas \"Quente\", \"Morno\" ou \"Frio\".\nMensagem: {{ $json.text }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        -176
      ],
      "id": "08137872-3224-4bc8-b1b4-4231a5b11d3f",
      "name": "Áudio",
      "credentials": {
        "openAiApi": {
          "id": "scB4ImDKzaC0pJI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debdaafe-a74a-433e-937e-426506167ee2",
              "name": "timestamp",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -16
      ],
      "id": "82a012c1-c972-4598-bf14-efd324aad6b9",
      "name": "Captura Timestamp"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-whatsapp-sdr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        -16
      ],
      "id": "c6e447bb-f481-453c-af64-fe5043727202",
      "name": "Recebe Mensagem",
      "webhookId": "60a5ca3b-2dfe-4345-9354-76c6312d2bbf"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE",
          "mode": "list",
          "cachedResultName": "Leads SDR Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Recebe Mensagem').item.json.body.nome }}",
            "status": "={{ $json.message.content.qualificacao }}",
            "mensagem": "={{ $('Transcribe a recording').item.json.text }}",
            "timestamp": "={{ $('Captura Timestamp').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1248,
        -176
      ],
      "id": "ab0c5c8f-d5c4-4a50-a8dc-84fb56346167",
      "name": "Planilha de Registro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gl6QALEX0Bgh0rJz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.audio_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -176
      ],
      "id": "4f522b28-b8ab-4306-af20-4dddc888acac",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aed188e1-4d73-4e41-a49b-0000cde82494",
              "leftValue": "={{ $json.body.audio_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        -16
      ],
      "id": "9a6ff904-425b-423b-990f-771066395fdd",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        560,
        -176
      ],
      "id": "2f9d6bef-481a-4972-a4e9-db776b17e95c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "scB4ImDKzaC0pJI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE",
          "mode": "list",
          "cachedResultName": "Leads SDR Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCjgChf0DcvYph-tjEc0BAC9cjP3nzgO90v3nC8JpLE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Recebe Mensagem').item.json.body.nome }}",
            "status": "={{ $json.message.content.qualificacao }}",
            "mensagem": "={{ $('Recebe Mensagem').item.json.body.mensagem }}",
            "timestamp": "={{ $('Captura Timestamp').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1248,
        0
      ],
      "id": "f9a57cc2-9d5d-4f35-b979-464243f63f72",
      "name": "Planilha de Registro1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gl6QALEX0Bgh0rJz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Texto": {
      "main": [
        [
          {
            "node": "Planilha de Registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Áudio": {
      "main": [
        [
          {
            "node": "Planilha de Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura Timestamp": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe Mensagem": {
      "main": [
        [
          {
            "node": "Captura Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ac942df-00b4-4402-b7c0-3a020034b46c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3f419c7d562dbcf5acd24d1f3c097177226b329ed58c9274400e2c84e620128"
  },
  "id": "vu5KqZUhygUtaso8",
  "tags": []
}